<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wilki.tica">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".TICA"
        android:allowBackup="true"
        android:icon="@mipmap/tica_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainMenuActivity" />
        <activity android:name=".activities.TaskOptionsActivity" />
        <activity android:name=".activities.TaskSelectorActivity" />
        <activity android:name=".activities.TangibleTaskActivity" />
        <activity android:name=".activities.ScreenTaskActivity" />
        <activity android:name=".activities.TaskCompleteActivity" />
        <activity android:name=".activities.CreateNewTaskActivity" />
        <activity android:name=".activities.ViewTaskPerformanceDataActivity" />
        <activity android:name=".activities.TaskDetailsActivity" />
    </application>

</manifest>